<div class="navigator">
    <t>HexagonP</t>
    {% if page.title != "404" %}
        <div class="button_type_b">

            <a href="/posts">
                <img src="/assets/icons/navbar_posts.png">
                <span>posts</span>
            </a>

            <a href="/games">
                <img src="/assets/icons/navbar_games.png">
               <span>games</span>
            </a>

            <a href="/">
               <img src="/assets/icons/navbar_home.png">
                <span>home</span>
            </a>

        </div>
    {% else %}
        <div class="button_type_b">

            <a href="/">
               <img src="/assets/icons/navbar_home.png">
                <span>home</span>
            </a>

        </div>
    {% endif %}
</div>