@use "palette";
@use "gamestore";

@keyframes appears {
  0% {top: 0px;}
  100% {top: 12px;}
}

* {
    box-sizing: border-box;
}

body {
    background: palette.$backgroundColor;
    color: palette.$bodyColor;
    font-family: Roboto Mono,monospace,Arial;

    t { font-size: 24px; }
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    p { font-size: 16px; }
    a { font-family: inherit; font-size: inherit; color: palette.$linkColor; }
}

.navigator {
    background-color: black;
    color: white;
    border-style: solid;

    width: calc(40% + 246px);
    margin: auto;
    padding: 12px;

    display: flex;
    flex-direction: row;

    .button_type_b {
        flex-direction: row-reverse;
        flex-grow: 100;
    }
}

.bounds {
    width: calc(40% + 240px);
    margin: auto;
    z-index: 0;

    animation-name: appears;
    animation-duration: 0.3s;
    top: 12px;
    position: relative;
}

.container {
    background-color: palette.$containerColor;
    border-style: solid;
    padding: 24px;
    box-shadow: 2px 2px gray;
    border-radius: 5px;
    overflow: hidden;

    hr {
        border: 3px lightgray;
        border-bottom-style: solid;
    }

    pre {
        background-color: snow;
        padding: 10px;
        border: 3px solid lightgray;
    }
}

.button_type_a {
    display: inline-flex;
    a {
        color: black;
        background-color: white;
        text-decoration: none;
        vertical-align: middle;
        margin: 4px 0px 4px 0px;
        padding: 8px;

        display: flex;
        border-radius: 5px;
        border-style: solid;
        position: relative;

        &:hover {
            box-shadow: 0px 2px 2px gray;
            bottom: 2px;
            /*right: 2px;*/
        }

        &:active {
            box-shadow: none;
            top: 1px;
            /*left: 1px;*/
        }

        & span {
            position: relative;
            margin-left: 4px;
        }
    }
}

.button_type_b {
    display: flex;
    a {
        color: white;
        background-color: black;
        text-decoration: none;
        vertical-align: middle;
        padding: 4px 8px 4px 8px;

        display: inline-flex;
        align-items: center;
        position: relative;

        &:hover {
            background-color: palette.$linkColor;
        }

        &:active {
            background-color: palette.$linkColorDarker;
            top: 2px;
        }

        & span {
            position: relative;
            margin-left: 4px;
            font-size: 12px;
        }
    }
}

/* mobile shenanigans */
@media screen and (max-width: 420px) {
  .bounds {
    width: calc(100%);
  }
  
  .navigator {
    /* 12px navbar padding + 8px body margin*/
    width: calc(100%);
  }

  .button_type_b {
    a {
        flex-direction: column;
        span {
            margin: 0px;
            text-align: center;
            font-size: 8px;
        }
    }
  }
}